<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Messages</title>
</head>
<body>
    <h1>Flash Messages</h1>
  
    <% if (successMessage && user_name) { %>
        <span><%= user_name %></span>
        <span style="color: green;"><%= successMessage %></span>
    <% } %>
   
    <a href="/">Go back to Home</a>
</body>
</html>
